.Wallet__View {
	.BankIncomeExpenses__Cards--Wallet {
		display: flex;
		justify-content: space-between;
		margin-bottom: 37px;
		> div {
			display: flex;
			width: 340px;
			height: 163px;
			background: #ffffff;
			border: 1px solid #e5e5e5;
			h5,
			h6,
			h1,
			p {
				margin: 0;
			}
			h5 {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.15px;
				color: #2b3648;
				mix-blend-mode: normal;
			}
			h1 {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 51px;
				letter-spacing: 0.25px;
				color: #56657f;
			}
			h6 {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.25px;
				color: #8997b1;
				mix-blend-mode: normal;
			}
			> div:first-child {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				width: 40%;
				height: 100%;
				> div {
					display: flex;
					justify-content: inherit;
				}
			}
			> div:nth-child(2) {
				width: 55%;
				display: flex;
				align-items: center;
				-webkit-mask-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(rgba(64, 92, 177, 1)),
					to(rgba(64, 92, 177, 0))
				);
			}
		}
	}
	.Charts__Balance--Wallet {
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
		> div {
			background: #ffffff;
			border: 1px solid #e5e5e5;
			height: 484px;
		}
		> div:first-child {
			width: 60%;
			padding: 1em;
			box-sizing: border-box;
			canvas {
				width: 100%;
			}
		}
		> div:nth-child(2) {
			width: 340px;
		}
		#Title__Card--Overview {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			height: 116px;
			top: 0;
			h5,
			p {
				margin: 0;
			}
			h5 {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
				letter-spacing: 0.15px;
				color: #2b3648;
				mix-blend-mode: normal;
			}
			p {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				text-align: center;
				letter-spacing: 0.25px;
				color: #9e9e9e;
				mix-blend-mode: normal;
			}
		}
		#Legend__Card--Overview {
			display: flex;
			ul,
			li {
				list-style: none;
				text-align: start;
			}
			li {
				display: flex;
				align-items: center;
			}
			ul {
				padding-left: 20px;
			}
			li > div {
				border-radius: 4px;
				width: 15px;
				height: 15px;
				margin-right: 10px;
			}
		}
	}
	.List__Section--Wallet {
		background: #ffffff;
		border: 1px solid #e5e5e5;
		height: fit-content;
		width: 100%;
		padding: 2em;
		box-sizing: border-box;
		> div:first-child {
			display: flex;
			justify-content: space-between;
			h3 {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				letter-spacing: 0.15px;
				color: rgba(0, 0, 0, 0.87);
			}
		}
		button {
			background-color: transparent;
			border: none;
		}
		> div:nth-child(2) {
			form {
				display: flex;
				justify-content: start;
				margin-bottom: 40px;
			}
		}
		input,
		select {
			background: rgba(255, 255, 255, 0.5);
			border: 1px solid #8997b1;
			box-sizing: border-box;
			border-radius: 4px;
			width: 244px;
			height: 36px;
			margin-right: 19px;
		}
		table {
			width: 100%;
			text-align: start;
			th,
			td {
				height: 40px;
				border-bottom: 1px solid #e5e5e5;
			}
			th {
				text-align: start;
				font-family: Roboto;
				font-style: normal;
				font-weight: 800;
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.1px;
				color: rgba(0, 0, 0, 0.87);
			}
			th:first-child {
				width: 250px;
			}
			td {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				letter-spacing: 0.25px;
				color: #56657f;
			}
		}
	}
}
