.Dashboard__Overall {
	display: flex;
	width: 100%;
	flex-grow: 1;
	border-top: 1px solid #e5e5e5;
	margin: 0;
	.User__Sidebar {
		min-width: 257px;
		border-right: 1px solid #e5e5e5;
	}
	.User__Dashboard {
		background-color: #fafafa;
		width: 100%;
	}
}
