.Neighbors__View {
	width: 100%;
	height: 100%;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	display: flex;
	.List__Contacts--Neighbors {
		min-width: 360px;
		height: 100%;
		border-right: 1px solid #e5e5e5;

		.search-container {
			width: 312px;
			height: 36px;
			display: block;
			margin: 32px auto;
		}

		input#search-bar {
			padding: 0;
			margin: 0 auto;
			width: 100%;
			height: 36px;
			font-size: 1rem;
			border: none;
			border-bottom: 1px solid #e5e5e5;
			outline: none;
			&:focus {
				transition: 0.35s ease;
				color: #9e9e9e;
				&::-webkit-input-placeholder {
					transition: opacity 0.45s ease;
					opacity: 0;
				}
				&::-moz-placeholder {
					transition: opacity 0.45s ease;
					opacity: 0;
				}
				&:-ms-placeholder {
					transition: opacity 0.45s ease;
					opacity: 0;
				}
			}
		}

		.search-icon {
			position: relative;
			float: right;
			width: 75px;
			height: 75px;
			top: -55px;
		}
		.Neighbor__Chat--Contact {
			width: 360px;
			height: 72px;
			border-bottom: 1px solid #e5e5e5;
			display: flex;
			justify-content: space-between;
			img {
				width: 40px;
				height: 40px;
				border-radius: 50px;
				object-fit: cover;
				margin: auto 16px auto 24px;
			}
			> :nth-child(2) {
				width: 184px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: flex-start;
				h6 {
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.1px;
					color: rgba(0, 0, 0, 0.87);
					margin: 0;
				}
				p {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					letter-spacing: 0.4px;
					color: rgba(0, 0, 0, 0.54);
					margin: 0;
				}
			}
			> :nth-child(3) {
				width: 64px;
				margin-right: 24px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: flex-end;
				h6 {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					text-align: right;
					letter-spacing: 0.4px;
					color: rgba(0, 0, 0, 0.24);
					margin: 0;
				}
				p {
					margin: 0;
				}
			}
		}
	}
	.Conversation__Active--Neighbors {
		width: 100%;
		display: flex;
		flex-direction: column;
		.Current__Chat--Top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 68px;
			width: 100%;
			border-bottom: 1px solid #e5e5e5;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50px;
				object-fit: cover;
				margin: auto 16px auto 24px;
			}
			> div {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: flex-start;
				h6 {
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.1px;
					color: rgba(0, 0, 0, 0.87);
					margin: 0;
				}
				p {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					letter-spacing: 0.4px;
					color: rgba(0, 0, 0, 0.54);
					margin: 0;
				}
			}
			button {
				width: 24px;
				height: 24px;
				margin: auto 13px;
				background-color: transparent;
				border: none;
				img {
					margin: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		.Message__Input--Neighbors {
			height: 57px;
			display: flex;
			border-top: 1px solid #e5e5e5;

			input {
				width: 100%;
				padding: 0;
				height: 100%;
				border: none;
			}
			button {
				height: 57px;
				width: 57px;
				background-color: transparent;
				border: none;
			}
		}
		.Current__Chat--Displaying {
			height: 100%;
		}
		.Single__Message--Balloon {
			width: 298.57px;
			height: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			//background-color: wheat;
			> div {
				display: flex;
			}
			img {
				width: 40px;
				height: 40px;
				border-radius: 50px;
				object-fit: cover;
				margin: auto 16px auto 24px;
			}
			p {
				font-family: Inter;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				line-height: 16px;
				letter-spacing: 0.5px;
				color: #8997b1;
				mix-blend-mode: normal;
				opacity: 0.9;
				margin: 0;
				text-align: start;
				padding-left: 108px;
			}
			.Ballon__Box {
				display: flex;
				align-items: flex-end;
				> div {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 12px 12px;
					border-color: transparent transparent #56657f transparent;
					width: 0;
					height: 0;
					border-bottom: 12px solid #56657f;
					border-left: 12px solid transparent;
				}
				p {
					padding: 13px;
					background: #56657f;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.25px;
					color: #ffffff;
					border-radius: 4px 4px 4px 0;
				}
			}
		}
	}
}
