.Profile__View {
	background-color: #805fb3;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 5%;
	display: flex;
	justify-content: space-between;
	.First__Card {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		margin-right: 5%;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
		button {
			width: 223px;
			height: 36px;
			background-color: #b787ff;
			border-radius: 4px;
			color: white;
			border: none;
		}
		> div {
			box-sizing: border-box;
			width: 100%;
			height: 200px;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
	}
	.Second__Card {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		#Delete__Account {
			color: red;
		}
		table {
			width: 100%;
			height: 100%;
		}
		> div {
			height: 100%;
		}
		:first-child {
			margin-bottom: 5%;
		}
		.Apartments__List {
			overflow-y: scroll;
		}
	}
	.White__Box {
		background-color: white;
		border-radius: 15px;
		padding: 5%;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		label {
			display: flex;
			justify-content: space-between;
		}
		h3 {
			color: red;
		}
		li {
			list-style: none;
			text-align: start;
			margin-bottom: 5px;
			height: fit-content;
		}
		.actions {
			:first-child {
				background-color: red;
				color: white;
			}
			button {
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}
}
