.welcome__caracterization {
	background-color: transparent;
	border: 1px solid #8997b1;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 1em;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	margin: auto;
	margin-top: 2em;
}
