.welcome__name {
	display: flex;
	flex-direction: column;
	align-items: center;
	button {
		background-color: transparent;
		border: 1px solid #8997b1;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 1em;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
	}
	input {
		width: 200px;
		height: 40px;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		border-radius: 4px;
		background: #ffffff;
		border-radius: 4px 4px 0px 0px;
		margin-bottom: 1em;
	}
	h1 {
		color: #2b3648;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 34px;
		line-height: 51px;
		display: flex;
		align-items: center;
		letter-spacing: 0.25px;
	}
	h5 {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.15px;
		color: #2b3648;
		mix-blend-mode: normal;
		margin-bottom: 0;
	}
	p {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 0.25px;
		color: #8997b1;
		mix-blend-mode: normal;
	}
}
