.Sign-Up {
	display: flex;
	height: 100vh;
	#Forgot__Password {
		color: #b787ff;
		&:hover {
			cursor: pointer;
			color: #805fb3;
		}
	}

	.left-side {
		padding-top: 5%;
		width: 40vw;
		h1 {
			color: #313c4e;
		}
		& > div {
			width: 460px;
			margin: auto;
			display: flex;
			justify-content: space-between;
		}
	}
	.right-side {
		background-color: #805fb3;
		width: 60vw;
		h2,
		p {
			margin: 1em auto 1em auto;
			width: 500px;
			color: white;
		}
	}
	button {
		background-color: #b787ff;
		color: white;
		height: 40px;
		width: 200px;
		border-radius: 2px;
		border: none;
		margin: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		img {
			margin-right: 1em;
		}
		p {
			color: white;
			height: 100%;
			margin: auto;
		}
		&:hover {
			transform: none;
			background-color: #805fb3;
		}
	}
	span {
		display: flex;
		justify-content: center;
		color: #afbdd1;
		& > p {
			border-bottom: 1px solid #afbdd1;
			width: 150px;
		}
		& p:nth-child(2) {
			margin: auto 15px;
			width: fit-content;
			border-bottom: none;
		}
	}
	form {
		width: 460px;
		margin: auto;
		.form-group {
			display: flex;
			flex-direction: column;
			padding: 0;
			margin: auto 1em;
			height: 100px;
		}
		.form-group:first-child {
			flex-direction: row;
			justify-content: space-between;
			& > div {
				flex-direction: column;
				width: 200px;
			}
		}
		input,
		label {
			width: 100%;
			height: 40px;
			border: none;
			padding: 0;
			text-align: start;
			border-radius: 4px;
		}
		input {
			background-color: rgba(0, 0, 0, 0.04);
			border: 1px solid #e5e5e5;
		}
		label {
			font-size: 10px;
			height: 30px;
		}
		.checkbox {
			display: flex;
			align-items: center;
			label {
				line-height: 15px;
				font-size: 12px;
				letter-spacing: 0.4px;
			}
			input[type='checkbox'] {
				width: 48px;
				-ms-transform: scale(0.6);
				-moz-transform: scale(0.6);
				-webkit-transform: scale(0.6);
				-o-transform: scale(0.6);
				transform: scale(0.6);
				padding: 10px;
			}
			input:checked {
				background-color: #b787ff;
			}
		}
		button {
			margin: 2em auto;
		}
	}
	h5 {
		margin-top: 2em;
	}
	a {
		color: #b787ff;
	}
}

@media only screen and (max-width: 767px) {
	.Sign-Up > .left-side {
		width: 100% !important;
		h1 {
			font-size: 1.5rem;
		}
		> div {
			display: contents !important;
		}
		form {
			width: 100% !important;
			> .form-group:first-child > div {
				width: 100% !important;
			}
		}
		.popup-content {
			width: 100% !important;
		}
	}
}
